In [1]:
!pip install /kaggle/input/mllibs/mllibs-0.0.9-py3-none-any.whl --force-reinstall

Processing /kaggle/input/mllibs/mllibs-0.0.9-py3-none-any.whl
Installing collected packages: mllibs
Successfully installed mllibs-0.0.9
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

![](https://i.imgur.com/IPboSfw.jpg)

## <b><span style='color:#B6DA32'>1 | BACKGROUND</span></b>

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 1.1 | TEXT ENCODING</span></b></p>
</div>

- In the previous notebook, **[sample eda notbook](https://www.kaggle.com/code/shtrausslearning/mllibs-sample-eda-notebook)**, we looking into ways we can explore our **numeric** and **categorical** data, utilising `hue` gives us valuable insight into how our data is distributed
- When it comes to **data preprocessing**, most models will not be able to interpret text in our data, which is why we need to **encode** our data 
- The process of **text encoding** - process of converting mearning ful text into a number or vector representataion 
- We often group Bag of Words (**countvectoriser**), index (**labelencoder**), and binary based methods (**onehotencoding**) into a group called traditional approaches, whilst more advanced methods are reserved for methods which create a **numeric vector representation** for a particular word (generation of embeddings). These embeddings can then be utilised (eg. average for each document)

## <b><span style='color:#B6DA32'>2 | INTERPRETER SETUP</span></b>

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 2.1 | USER INTERFACE
</span></b></p>
</div>

<code>interface</code> allows us to automate the setup of mllibs

In [2]:
from mllibs.interface import interface

session = interface()

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

[nltk_data] Downloading package wordnet to /usr/share/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
loading modules ...
making module summary labels...
done ...
eda LogisticRegression() accuracy 1.0
eda_colplot LogisticRegression() accuracy 1.0
eda_plot LogisticRegression() accuracy 1.0
loader LogisticRegression() accuracy 1.0
make_folds LogisticRegression() accuracy 1.0
nlp_embedding LogisticRegression() accuracy 1.0
nlp_encoder LogisticRegression() accuracy 1.0
outliers LogisticRegression() accuracy 1.0
pd_df LogisticRegression() accuracy 1.0
ms LogisticRegression() accuracy 1.0
models trained...

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 2.2 | LOAD DATA
</span></b></p>
</div>

In [3]:
import pandas as pd

booking = pd.read_csv('/kaggle/input/british-airways-virtual-experience-programme/customer_booking.csv',encoding="ISO-8859-1")
session.store(booking,'booking')
booking

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,Internet,RoundTrip,27,6,9,Sat,PERPNH,Australia,1,0,1,5.62,0
49996,1,Internet,RoundTrip,111,6,4,Sun,PERPNH,Australia,0,0,0,5.62,0
49997,1,Internet,RoundTrip,24,6,22,Sat,PERPNH,Australia,0,0,1,5.62,0
49998,1,Internet,RoundTrip,15,6,11,Mon,PERPNH,Australia,1,0,1,5.62,0
49999,1,Internet,RoundTrip,19,6,10,Thu,PERPNH,Australia,0,1,0,5.62,0

## <b><span style='color:#B6DA32'>3 | TRADITIONAL METHODS</span></b>

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 3.1 | OHE-HOT-ENCODING
</span></b></p>
</div>

- One-Hot Encoding is a commonly used method to convert a column of text into a present/not present column
- By default if we pass a dataframe, it will one-hot encode all columns containing categorical like data

In [4]:
session.exec('one hot encode of booking')
session.glr()

using module: nlp_encoder
Executing Module Task: encoding_ohe

,num_passengers,purchase_lead,length_of_stay,flight_hour,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,sales_channel_Internet,...,booking_origin_Timor-Leste,booking_origin_Tonga,booking_origin_Tunisia,booking_origin_Turkey,booking_origin_Ukraine,booking_origin_United Arab Emirates,booking_origin_United Kingdom,booking_origin_United States,booking_origin_Vanuatu,booking_origin_Vietnam
0,2,262,19,7,1,0,0,5.52,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,112,20,3,0,0,0,5.52,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,243,22,17,1,1,0,5.52,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,96,31,4,0,0,1,5.52,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,68,22,15,1,0,1,5.52,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,27,6,9,1,0,1,5.62,0,1,...,0,0,0,0,0,0,0,0,0,0
49996,1,111,6,4,0,0,0,5.62,0,1,...,0,0,0,0,0,0,0,0,0,0
49997,1,24,6,22,0,0,1,5.62,0,1,...,0,0,0,0,0,0,0,0,0,0
49998,1,15,6,11,1,0,1,5.62,0,1,...,0,0,0,0,0,0,0,0,0,0
49999,1,19,6,10,0,1,0,5.62,0,1,...,0,0,0,0,0,0,0,0,0,0

- Or we can specify a specific column, returning the dataframe with the updated columns

In [5]:
session.exec('one hot encode of booking trip_type')
session.glr()

using module: nlp_encoder
Executing Module Task: encoding_ohe

,num_passengers,sales_channel,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,trip_type_CircleTrip,trip_type_OneWay,trip_type_RoundTrip
0,2,Internet,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0,0,0,1
1,1,Internet,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0,0,0,1
2,2,Internet,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0,0,0,1
3,1,Internet,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0,0,0,1
4,2,Internet,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,Internet,27,6,9,Sat,PERPNH,Australia,1,0,1,5.62,0,0,0,1
49996,1,Internet,111,6,4,Sun,PERPNH,Australia,0,0,0,5.62,0,0,0,1
49997,1,Internet,24,6,22,Sat,PERPNH,Australia,0,0,1,5.62,0,0,0,1
49998,1,Internet,15,6,11,Mon,PERPNH,Australia,1,0,1,5.62,0,0,0,1
49999,1,Internet,19,6,10,Thu,PERPNH,Australia,0,1,0,5.62,0,0,0,1

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 3.2 | LABEL ENCODING
</span></b></p>
</div>

- **Label encoding** is mainly used for **mapping labels** (target variable) from categorical data to numeric
- Unlike ordinal mapping (to control value order), the values are assigned based on a mapping dictionary in the order in which the key tokens were generated

In [6]:
booking_subset = booking[['sales_channel']]
session.store(booking_subset,'subset_column')
session['label encode subset_column']
session.glr()

using module: nlp_encoder
Executing Module Task: encoding_label

       sales_channel
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
49995              0
49996              0
49997              0
49998              0
49999              0

[50000 rows x 1 columns]

Its more convenient to specify a dataframe a columnm which will return an updated dataframe

In [7]:
session.exec('label encode booking sales_channel')
session.glr()

using module: nlp_encoder
Executing Module Task: encoding_label

,num_passengers,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,sales_channel
0,2,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0,0
1,1,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0,0
2,2,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0,0
3,1,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0,0
4,2,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,RoundTrip,27,6,9,Sat,PERPNH,Australia,1,0,1,5.62,0,0
49996,1,RoundTrip,111,6,4,Sun,PERPNH,Australia,0,0,0,5.62,0,0
49997,1,RoundTrip,24,6,22,Sat,PERPNH,Australia,0,0,1,5.62,0,0
49998,1,RoundTrip,15,6,11,Mon,PERPNH,Australia,1,0,1,5.62,0,0
49999,1,RoundTrip,19,6,10,Thu,PERPNH,Australia,0,1,0,5.62,0,0

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 3.3 | COUNT VECTORISER
</span></b></p>
</div>

#### <b><span style='color:#CAE68D'>ADJUSTING FREQUENCY LIMITS</span></b>

As per usual, lets store the data we will use

In [8]:
doc_sample = ['This is the first document, this is the start.',
              'Following the first is the second setence',
              'And then comes the third document, this is the ending']

df_doc_sample = pd.Series(doc_sample).to_frame()
df_doc_sample.columns = ['corpus']
session.store(df_doc_sample,'corpus_data')
session.store(doc_sample,'corpus_list')

In [9]:
session.exec('count vectorise corpus_data corpus')
session.glr()

using module: nlp_encoder
Executing Module Task: count_vectoriser

   and  comes  ending  following  second  setence  start  then  third
0    0      0       0          0       0        0      1     0      0
1    0      0       0          1       1        1      0     0      0
2    1      1       1          0       0        0      0     1      1

#### <b><span style='color:#CAE68D'>ADJUSTING FREQUENCY LIMITS</span></b>

We can adjust the token encounter frquencies <code>min_df</code>, <code>max_df</code>

In [10]:
session.exec('count vectorise corpus_data max_df 2')
session.glr()

using module: nlp_encoder
Executing Module Task: count_vectoriser

,and,comes,document,ending,first,following,second,setence,start,then,third,this
0,0,0,1,0,1,0,0,0,1,0,0,2
1,0,0,0,0,1,1,1,1,0,0,0,0
2,1,1,1,1,0,0,0,0,0,1,1,1

#### <b><span style='color:#CAE68D'>NGRAM RANGE</span></b>

We can also adjust the ngram range using token <code>ngram_range</code>

In [11]:
session.exec('count vectorise corpus_data ngram_range (1,2)')
session.glr()

using module: nlp_encoder
Executing Module Task: count_vectoriser

,and,and then,comes,comes the,ending,first document,first is,following,following the,second,...,setence,start,the ending,the second,the start,the third,then,then comes,third,third document
0,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,1,1,1,...,1,0,0,1,0,0,0,0,0,0
2,1,1,1,1,1,0,0,0,0,0,...,0,0,1,0,0,1,1,1,1,1

#### <b><span style='color:#CAE68D'>CUSTOM TOKENISER</span></b>

- We may want to utilise a customised tokeniser, by default the split pattern is <code>\b\w\w+\b</code>
- The default tokeniser removes all special characters, punctuation and single characters.
- **Customised tokeniser** functions allow us to preprocess the data; eg. **tokenise** and **lemmatise**

In [12]:
from nltk.stem import WordNetLemmatizer as wnl
from nltk.tokenize import word_tokenize, WhitespaceTokenizer

# create custom tokeniser
def nltk_tokeniser(text):
    tokens = WhitespaceTokenizer().tokenize(text)
    lemmatised_tokens = [wnl().lemmatize(words) for words in tokens]
    return lemmatised_tokens

# store custom tokeniser
tokenise = nltk_tokeniser
session.store(nltk_tokeniser,'ws_tokeniser')

In [13]:
session.exec('count vectorise corpus_data tokeniser ws_tokeniser')
session.glr()

using module: nlp_encoder
Executing Module Task: count_vectoriser

   and  come  ending  following  second  setence  start.  then  third
0    0     0       0          0       0        0       1     0      0
1    0     0       0          1       1        1       0     0      0
2    1     1       1          0       0        0       0     1      1

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 3.4 | TFIDF VECTORISER
</span></b></p>
</div>

#### <b><span style='color:#CAE68D'>WEIGHTING WORD CONTRIBUTION</span></b>

- If we want a bag of words, but with **words weighted by their importance** to an observation; utilise **TF-IDF**
- We want to compare the **frequency of the word** in a document with the **frequency of the word in all other documents** using term frequency-inverse document frequency (tf-idf)
- **TF-IDF** work with all of the above options in addition to `use_idf` and `smooth_idf` token options

#### <b><span style='color:#CAE68D'>TERMINOLOGY</span></b>

- Term frequency (tf) - The more a **word appears in a document**, the more likely it is to be important to that document
- Document frequency (df) - if a word appears in many documents, it is likely less important to any individual document
- Combining these two statistics, we can assign a score to every word representing how important that word is in a document
- The higher the resulting value, the more important the word is to a document

In [14]:
list_corpus = [
    'Girl likes cat Tom',
    'Who likes the cat?',
    'Tom is a quiet cat'
]
df_corpus = pd.Series(list_corpus).to_frame()
df_corpus.columns = ['corpus']
session.store(df_corpus,'ex_corpus')

In [15]:
session.exec('tfidf dataframe ex_corpus')
session.glr()

using module: nlp_encoder
Executing Module Task: tfidf_vectoriser

   girl        is     quiet       the       who
0   1.0  0.000000  0.000000  0.000000  0.000000
1   0.0  0.000000  0.000000  0.707107  0.707107
2   0.0  0.707107  0.707107  0.000000  0.000000

In [16]:
session.exec('tfidf dataframe ex_corpus min_df 0.0 max_df 1.0')
session.glr()

using module: nlp_encoder
Executing Module Task: tfidf_vectoriser

,cat,girl,is,likes,quiet,the,tom,who
0,0.373119,0.631745,0.000000,0.480458,0.000000,0.000000,0.480458,0.000000
1,0.345205,0.000000,0.000000,0.444514,0.000000,0.584483,0.000000,0.584483
2,0.345205,0.000000,0.584483,0.000000,0.584483,0.000000,0.444514,0.000000

In [17]:
session.exec('tfidf dataframe ex_corpus min_df 0.0 max_df 1.0 smooth_idf False use_idf False')
session.glr()

using module: nlp_encoder
Executing Module Task: tfidf_vectoriser

,cat,girl,is,likes,quiet,the,tom,who
0,0.326950,0.686142,0.000000,0.459517,0.000000,0.000000,0.459517,0.000000
1,0.291313,0.000000,0.000000,0.409430,0.000000,0.611353,0.000000,0.611353
2,0.291313,0.000000,0.611353,0.000000,0.611353,0.000000,0.409430,0.000000

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 3.5 | CORPUS TO PADDED TENSOR
</span></b></p>
</div>

**PyTorch** is a common deep network framework, let's encode each **document** in a **corpus**
- The first step that is made - tokenise the document 
- Like in the **labelencoder**, we create a **mapping dictionary** that will store a unique token identifier (we create our own based on the available tokens)
- Once the mapping dictionary is created, we can convert each corresponding **token** to its **numerical value**  
- To pass text data into a neural network, they need to be of equal length; so we need to **pad each document** that is shorter than the longest document length
- We can also limit the **maximum length of all documents** by using token tag `maxlen`

In [18]:
session.data['corpus_list']

['This is the first document, this is the start.',
 'Following the first is the second setence',
 'And then comes the third document, this is the ending']

In [19]:
session.exec('torch encode for corpus_list')
session.glr()

using module: nlp_encoder
Executing Module Task: torch_text_encode

tensor([[14,  5,  2, 15,  1, 13,  0,  5,  2,  8, 10],
        [12,  2, 15,  5,  2,  3, 16,  0,  0,  0,  0],
        [11,  6,  9,  2,  7,  1, 13,  0,  5,  2,  4]])

In [20]:
session.exec('torch encode for corpus_list maxlen 4')
session.glr()

using module: nlp_encoder
Executing Module Task: torch_text_encode

tensor([[14,  5,  2, 15],
        [12,  2, 15,  5],
        [11,  6,  9,  2]])

## <b><span style='color:#B6DA32'>4 | EMBEDDING METHODS</span></b>

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 4.1 | INPUT DATA
</span></b></p>
</div>

Input data for **embedding generation** is currenly a **list**, as opposed to a **DataFrame** for the encoders

In [21]:
doc_sample = ['This is the first document.',
              'Following the first is the second setence',
              'And then comes the third.']

session.store(doc_sample,'documents')

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'> 4.2 | CBOW PROBLEM
</span></b></p>
</div>

#### <b><span style='color:#CAE68D'>DEFINING THE PROBLEM</span></b>

Our goal is to train a neural network model from which we can extract **embedding** & use them for feature generation  
- Features for the **CBOW** problem are **context vectors** (context are the words around the main word, get all possible cases,storing the numerical representations in and the **target vector** is the word in the middle
- Ie. using the surrounding words of window size, we create a model that will be predicting the word in the middle

In [22]:
'''

Example

context, target pairs

(['Today', 'is', 'good', 'day'], 'a')
(['is', 'a', 'day', 'for'], 'good')
(['a', 'good', 'for', 'taking'], 'day')
(['good', 'day', 'taking', 'a'], 'for')
(['day', 'for', 'a', 'walk'], 'taking')

for pytorch; context, target word tensors

tensor([7, 2, 3, 6]) tensor(1)
tensor([2, 1, 6, 0]) tensor(3)
tensor([1, 3, 0, 5]) tensor(6)
tensor([3, 6, 5, 1]) tensor(0)
tensor([6, 0, 1, 4]) tensor(5)


'''

session.exec('cbow embeddings using documents')
session.glr()

using module: nlp_embedding
Executing Module Task: embed_cbow
loss: 1.5057597160339355

                 0         1         2         3         4
.         0.983703  0.265589  0.003403  1.612110 -1.955167
first     0.811165  1.103342 -0.765439 -0.163955  1.258642
the       0.014258 -0.842525 -1.278209  0.500522  0.047542
This      0.239167 -0.915592 -0.064000 -0.535537  1.320716
document -1.780742  0.619838 -1.931209  0.581017 -0.309666
is       -0.368827  1.003728 -0.044844 -2.012095 -0.925141

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'>4.3 | SKIP-GRAM PROBLEM
</span></b></p>
</div>

#### <b><span style='color:#CAE68D'>DEFINING THE PROBLEM</span></b>


Our goal is to train a neural network model from which we can extract **embedding** & use them for feature generation

- The **SG** (skip-gram) variant takes a **target word** and tries to predict the **surrounding context words** (which is the opposite of **CBOW**)

> - The "fake" task for skip-gram model would be, given a word, we’ll try to predict its neighboring words
> - We’ll define a neighboring word by the window size — a hyper-parameter

- We'll be using Keras, as we have a convenient function that generates **skip-gram** training data `keras.preprocessing.sequence.skipgrams`
- The data generated using `skipgrams` will be elaborated using an example below

In [23]:
session.exec('sg embeddings using documents')
session.glr()

using module: nlp_embedding
Executing Module Task: embed_sg

                  0         1         2         3         4
the       -0.033068 -0.013494 -0.092383 -0.141605  0.043779
is         0.105515 -0.085574 -0.163681 -0.064680 -0.146702
first      0.073727  0.093489 -0.033672 -0.060684  0.033944
this       0.052360  0.090712  0.018228 -0.027841 -0.017292
document   0.033914 -0.086581 -0.067512 -0.018183 -0.088002
following  0.073711 -0.076618 -0.050031 -0.052639 -0.013335
second     0.055859  0.002303  0.047756  0.010930 -0.011968
setence   -0.014511 -0.049895 -0.010955  0.044301  0.008440
and       -0.001558 -0.010315 -0.055224  0.066658  0.073355
then      -0.025927  0.055655 -0.032779  0.061319 -0.080005
comes     -0.025251 -0.079828  0.007452 -0.004079  0.060270
third      0.007130  0.020881 -0.093710  0.011215 -0.075976

<div style="color:white;border-radius:8px;background-color:#323232;font-size:100%">
<p style="padding: 10px;color:white;"><b><span style='color:#B6DA32; font-weight:bold'>4.4 | WORD2VEC MODEL
</span></b></p>
</div>

- **Word2Vec** like both methods are a "shallow" deep learning model, which is actually a combination of the two methods **CBOW** and **SG**
- In practice, it is suggested to utilise the word2vec model, as it is an optimised library, wheras the two approaches above are simple implementations in Torch and Tensorflow

In [24]:
session.exec('word2vec embeddings using documents')
session.glr()

using module: nlp_embedding
Executing Module Task: w2v
First Tokenised corpus:

['first', 'document']
Epochs: 50
Window: 4
Vector Size: 5
Vocabulary size: 7
First 10 words in vocabulary:
['first', 'third', 'comes', 'setence', 'second', 'following', 'document']

                  0         1         2         3         4
first     -0.010693  0.004752  0.102105  0.180202 -0.186044
third     -0.142342  0.129192  0.179483 -0.100311 -0.075273
comes      0.147623 -0.030632 -0.090671  0.131107 -0.097233
setence   -0.036320  0.057532  0.019837 -0.165704 -0.188976
second     0.146246  0.101413  0.135164  0.015258  0.127027
following -0.068107 -0.018928  0.115371 -0.150433 -0.078722
document  -0.150232 -0.018601  0.190762 -0.146383 -0.046675

Four different token parameters can be utilised to control the model outcome (for all of the above)

- Context window size `window`
- Embedding dimension `dim`
- Learning Rate `lr` 
- Number of iterations `epoch`

**Tokenisation** also plays a role (as we can see from the two methods, we have different tokens), modifications of tokenisers is not curretly added

In [25]:
session.exec('word2vec embeddings using documents window 5')
session.glr()

using module: nlp_embedding
Executing Module Task: w2v
First Tokenised corpus:

['first', 'document']
Epochs: 50
Window: 5
Vector Size: 5
Vocabulary size: 7
First 10 words in vocabulary:
['first', 'third', 'comes', 'setence', 'second', 'following', 'document']

                  0         1         2         3         4
first     -0.010716  0.004735  0.102091  0.180192 -0.186115
third     -0.142342  0.129183  0.179467 -0.100313 -0.075271
comes      0.147605 -0.030660 -0.090721  0.131078 -0.097213
setence   -0.036318  0.057533  0.019837 -0.165711 -0.188991
second     0.146233  0.101414  0.135177  0.015252  0.126988
following -0.068108 -0.018912  0.115383 -0.150449 -0.078768
document  -0.150232 -0.018601  0.190762 -0.146383 -0.046675

In [26]:
session.exec('word2vec embeddings using documents dim 10')
session.glr()

using module: nlp_embedding
Executing Module Task: w2v
First Tokenised corpus:

['first', 'document']
Epochs: 50
Window: 4
Vector Size: 10
Vocabulary size: 7
First 10 words in vocabulary:
['first', 'third', 'comes', 'setence', 'second', 'following', 'document']

,0,1,2,3,4,5,6,7,8,9
first,-0.005384,0.002376,0.051018,0.090090,-0.093037,-0.071174,0.064576,0.089758,-0.050147,-0.037616
third,0.073807,-0.015334,-0.045372,0.065546,-0.048608,-0.018164,0.028767,0.009926,-0.082858,-0.094493
comes,0.073120,0.050714,0.067569,0.007648,0.063492,-0.034072,-0.009463,0.057724,-0.075237,-0.039371
setence,-0.075116,-0.009300,0.095381,-0.073192,-0.023338,-0.019377,0.080774,-0.059309,0.000452,-0.047537
second,-0.096043,0.050077,-0.087602,-0.043922,-0.000351,-0.002962,-0.076618,0.096155,0.049824,0.092338
following,-0.081579,0.044958,-0.041371,0.008245,0.084986,-0.044622,0.045175,-0.067870,-0.035485,0.093985
document,-0.015777,0.003214,-0.041406,-0.076827,-0.015080,0.024698,-0.008880,0.055337,-0.027430,0.022601